<div id="<%= dom_id payment %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Week:</strong>
    <%= payment.week_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Charge type:</strong>
    <%= payment.charge_type_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= payment.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Total paid:</strong>
    <%= payment.total_paid %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Paid on:</strong>
    <%= payment.paid_on %>
  </div>
</div>
